{% extends 'base.html' %}

{% block content %}

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center">Редактирование информации</h2>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="">
                            {{ form.hidden_tag() }}
                            <div class="form-group">
                                {{ form.age.label(class_="form-control-label") }}
                                {{ form.age(class_="form-control", size=32) }}
                                {% for error in form.age.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                {{ form.sex.label(class_="form-control-label") }}
                                {{ form.sex(class_="form-control") }}
                                {% for error in form.sex.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                            <div class="form-group text-center">
                                {{ form.submit(class_="btn btn-primary") }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
